body{
    background-image: url(Poverty.jpg);
    Background-repeat: no-repeat;
    Background-position: top center;
    background-size: cover;
}

#wrapper{
    width: 1300px;
    min-height: 600px;
    margin: 0 auto; 
    padding: 10px;
    background-color: rgba(140, 140, 140, .90);
   
}

#header{
    width:98%;
    height:50px;
    margin: 5px auto;
    color: #000000;
    border-bottom: 2px solid black;
   
    
}

#header h1{
    font-size: 48px;
    margin: 0;  
}
#navigation{
    width: 30%;
    height: 40px;
    float: right;
    text-align: center;
}
#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
#navigation a{
    min-width: 70px;
    padding: 5px;
    float:left;
    margin: 5px;
    font-size: 20px;
    background-color: rgba(140, 140, 140, .50);
    text-decoration: none;
    
}
#navigation a:link, #navigation a:visited{
    color: #31353D;
}
#navigation a:hover{
    background-color: #616161; 
    color: #002253;
}
#content{
    width:98%;
    min-height:500px;
    margin: 5px auto;
    padding: 10px;
    display: block;
    color: #BEBDBF;
}
#content #home-text{
    width:55%;
    min-height:400px;
    margin: 5px auto;
    padding: 10px;
    display:inline-block;
    float:left;
    color: #000000;

}

#content #home-text p{
    font-size: 19px;
}

img{
    margin: 70px auto;
    padding: 10px;
    width: 90%;
    min-height: 50%;
}
    
#content #home-image{
    width:40%;
    min-height:400px;
    margin: 5px auto;
    padding: 5px;
    float:right;
    display:inline-block;
}

#solutions-content{
    width:98%;
    min-height:500px;
    margin: 5px auto;
    padding: 10px;
    display: block;
    color: #BEBDBF;
    
}

#solutions-text{
    width:95%;
    min-height:400px;
    margin: 10px auto;
    color: #000000;
    font-size: 19px;
}

#gallery{
    padding-left: 100px;
}
.column {
  float: left;
  width: 33.33;
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#us-content{
    width: 1200px;
    min-height: 600px;
    margin: 0 auto; 
    padding: 5px;
}
#about-content{
    width: 600px;
    height: 90px;
    margin: 15px auto; 
    padding: 10px;
    text-align: center;
}

#right-text{
    width: 250px;
    height: 250px;
    margin: 25px auto; 
    padding: 10px;
    float:left;
    
}

#left-text{
    width: 250px;
    height: 250px;
    margin: 25px auto; 
    padding: 10px;
    float:right;
    

}
#gif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
#footer{
    width:98%;
    min-height:20px;
    margin: 15px auto;
    padding: 10px;
    display: block;
    background-color: rgba(35, 35, 35, .65);
    color: #D9D9D9;
    text-align: center;
    font-size: 19px;
}