body{
    background-image: url(sea.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
}
h1{
    text-align: center;
}
#wrapper{
    width: 1024px;
    min-height: 700px auto;
    margin-left: auto;
    margin-right: auto;
   
    
}
#luffy{
    width: 150px;
    height: 255px;
    margin-left: 50px;
    margin-right: 10px;
}
#zoro{
    width: 150px;
    height: 255px;
    margin-left: 45px;
    margin-right: 10px;
}
#nami{
    width: 200px;
    height: 265px;
    margin-left: 30px;
    margin-right: 10px
}
#ussop{
    width: 150px;
    height: 255px;
    margin-left: 45px;
    margin-right: 10px;
}
#sanji{
    width: 150px;
    height: 255px;
    margin-left: 55px;
    margin-right: 10px;
}
#chopper{
    width: 145px;
    height: 200px;
    margin-left: 50px;
    margin-right: 10px;
     margin-top: 55px;
}
#robin{
    width: 175px;
    height: 290px;
    margin-left: 45px;
    margin-right: 10px;
}
#franky{
    width: 210px;
    height: 295px;
    margin-left: 35px;
    margin-right: 10px;
}
#brook{
    width: 205px;
    height: 310px;
    margin-left: 50px;
    margin-right: 10px;
}
img{
    width: 600px;
    height: 200px;
    
    
}
div[id^='block-'] {
   width: 250px;
    height: 250px;
    margin: 15px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
    display: block;
    float: left;
    /*border: 2px solid #000;*/
}

#luffytalk{
    position: absolute;
    top: 220px;
    left: 385px;
    display: none;
}
#zorotalk{
    position: absolute;
    top: 250px;
    left: 735px;
    display: none;
}
#namitalk{
    position: absolute;
    top: 220px;
    left: 655px;
    display: none;
}
#ussoptalk{
    position: absolute;
    top: 620px;
    left: 435px;
    display: none;
}
#sanjitalk{
    position: absolute;
    top: 620px;
    left: 735px;
    display: none;
}
#choppertalk{
    position: absolute;
    top: 620px;
    left: 630px;
    display: none;
}

#robintalk{
    position: absolute;
    top: 880px;
    left: 435px;
    display: none;
}
#frankytalk{
    position: absolute;
    top: 880px;
    left: 735px;
    display: none;
}
#brooktalk{
    position: absolute;
    top: 880px;
    left: 630px;
    display: none;
}
.bubble {
    font-family: 'Fredoka One', cursive;
    height: 200px auto;
  	width: 300px;
  	background-color: white;
  	border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
